.home {
  border-top: 2px dashed @navigation-border;
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 500px){
      flex-direction: column;
      justify-content: unset;
      flex-wrap: nowrap;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media (max-width: 500px){
        width: 95%;
        max-width: 100%;
        padding: 0;
        margin: 3%;
      }
  
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media (max-width: 500px){
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 2%;
      }

      img {
        border-radius: 10px;
        @media (max-width: 500px){
          width: 95%;
          //max-width: 100%;
          height:auto;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
    @media (max-width: 500px){
      flex-direction: column-reverse;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media (max-width: 500px){
      width: 95%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
}// home