// Navigation Styles here
header{
    .flexcolumn();
    //max-width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    .navbar{
        .flexjustify(space-evenly);
        align-items: center;
        max-width: 100%;
        background-color: @sandy-beach;
        border-bottom: 2px dashed @silver;
        div{
            margin:2%;
        }
        .navigation{
            .flexjustify(space-evenly);
            margin-left:auto;
            max-width: 100%;
            a{
                display: inline-block;
                text-decoration: none;
                width:100px;
                color: @shark;
                font-size: 1.2rem;
            } 
        }         
    }
    .img{        
        max-width:80%;
        margin:auto;
        div{
            margin-top: 15px;
        }
    }
}

